{% extends "videogames_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-transparent">
                <h4 class="mb-0">
                    {% if form.instance.pk %}
                        <i class="fas fa-edit"></i> Update Game
                    {% else %}
                        <i class="fas fa-plus"></i> Add New Game
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form.title|as_crispy_field }}
                    {{ form.release_date|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                    {{ form.genre|as_crispy_field }}

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'videogame_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check-circle"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
